<% layout('layout') -%>

<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <h2><%=order.OrderStatus%></h2>

            <% for (var i = 0; i < order.Products.length; i++) { %>
            <div class="list-group">
            <span class="list-group-item">
              <div class="row">
                <div class="col-md-3">
                  <span><img class="product-image" src="<%= order.Products[i].Image %>"></span>
                </div>

                <div class="col-md-6">
                  <p class="list-group-item-heading"><%= order.Products[i].ProductName %></p>
                </div>
                <div class="col-md-3">
                  <p>Quantity: <%= order.Products[i].Quantity %></p>
                  <p>Price: <%= order.Products[i].Price %></p>
                </div>

              </div>
            </span>
            </div>

            <% } %>

        </div>

        <div class="col-md-3"></div>

        <div class="col-md-3">
            <h2><%= order.OrderStatus %></h2>
            <div class="list-group">
                <span class="list-group-item">
                    <h4>Total $<span class="totalPrice"><%= order.total %></span></h4>

                    <div class="form-group">
                        <input type="hidden" value="<%= order.total %>">
                        <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal"
                                data-target="#myModal">Pay now</button>
                    </div>
                </span>
            </div>
        </div>

        <!--Modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr">
                                    <h3>Payment Details</h3>
                                    <div class="display-td">
                                        <img class="img-responsive pull-right"
                                             src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                            </div>

                            <div class="modal-body">
                                <form action="/payment" method="POST" id="payment-form">
                                    <input type="hidden" name="total" value="<%= order.Total %>">
                                    <span class="payment-errors"></span>

                                    <div class="form-row form-group">
                                        <label>
                                            <span>Card Number</span>
                                            <div class="input-group">
                                                <input class="form-control" type="text" size="20" data-stripe="number" name="cardNumber"
                                                       required autofocus>
                                                <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-credit-card"></i></span>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="form-row">
                                        <label>
                                            <span>Expiration date</span>
                                            <div class="input-group form-inline">
                                                <input placeholder="MM" class="form-control" type="text" name="expMonth"
                                                       data-stripe="exp_month" required>
                                                <div class="input-group-addon">/</div>
                                                <input placeholder="YY" class="form-control" type="text" name="expYear"
                                                       data-stripe="exp_year" required>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="form-row form-group">
                                        <label>
                                            <span>CVC</span>
                                            <input class="form-control" type="text" size="4" maxlength="3" name="cvc"
                                                   data-stripe="cvc" required>
                                        </label>
                                    </div>
                                    <div class="form-row">
                                        <input type="submit" class="submit btn btn-primary btn-lg"
                                               value="Pay $<%= order.Total
                                               %>">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End of Modal-->

            </div>

            <div class="row">
                <div class="col-lg-2 col-md-offset-6">
                    <div class="text-center" id="loading"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-offset-6">
            <div class="text-center" id="loadingSpinner"></div>
        </div>
    </div>
</div>
