<% layout('layout') -%>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="<%= product.Image %>" style="width:600px;height:500px; margin-top: 75px" class="border">
        </div>

        <div class="col-md-4">

            <h3><%= product.ProductName %></h3>
            <h1>$<%= product.Price %></h1>
            <p class="lead"><%= product.ProductDesc %></p>

            <form action="/submitreview" method="post">
                     <textarea id="subject" name="review" id="review" placeholder="Share your review.." rows="3" cols="50" required></textarea>
                     <input type="hidden" name="priceHidden" id="priceHidden"  class="form-control" value="<%= product.Price %>">
                     <input type="hidden" name="item" class="form-control" value="<%= product.ProductName %>">
                     <input type="hidden" name="productid" class="form-control" value="<%= product.productID %>">
                       <p class="mt-2"></p>
                     <!-- <input type="text" id="priceValue"  name="priceValue"  style="border: none;  background: transparent; border-color: transparent;" value="$<%= product.Price%>" readonly> -->

                        <p class="mt-5"></p>
                    <!--<a href="/submitreview" class="btn btn-info btn-lg">Submit your review</a>-->
                    <input type="submit" class="btn btn-primary" value="Add Review!!">
            </form>
            <h2> Reviews </h2>
          <table class ="table table-striped">

               <% for(var i=0; i < reviews.length; i++) { %>

              <tr>
                <td>&nbsp;&nbsp; <%=  reviews[i].ReviewString %>&nbsp;&nbsp;</td>
              </tr>
              <% } %>

              </table>

        </div>
    </div>
</div>
